<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="UserController">
    <div class="container-fluid">
        <div class="navbar-brand">{{ username }}</div>

        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-main">

            <ul class="nav navbar-nav pull-left">
                <li class=""><a href="#/user/{{username}}/wall/" class="glyphicon glyphicon-home"></a></li>
                <li class=""><a href="#/" class="glyphicon glyphicon-globe"></a></li>
                <li class="" ng-mouseenter="showPendingRequest=true" ng-mouseleave="showPendingRequest=false">
                    <a href="#/user/{{username}}/friends/" class="glyphicon glyphicon-user">
                        <span ng-if="pendingRequests.length > 0" class="badge"> {{pendingRequests.length}}</span>
                    </a>

                    <ul id="friend-requests-box" ng-if="showPendingRequest && pendingRequests.length > 0">
                        <li ng-repeat="request in pendingRequests" class="list-group-item">
                            <a href="#/user/{{request.user.username}}/wall/" class="media-left">
                                <img ng-src="{{request.user.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 50px; height: 50px"/>
                            </a>
                            <div class="media-body">
                                <div class="media-body">
                                    <a class="name" href="#/user/{{request.user.username}}/wall/" style="color:black">{{request.user.name}}</a>
                                </div>
                                <div class="media-right action">
                                    <span ng-click="acceptFriendRequest(request)" class="media-left btn btn-success btn-sm">accept</span>
                                </div>
                                <div class="media-right action">
                                    <span ng-click="rejectFriendRequest(request)" class="media-right btn btn-default btn-sm">reject</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li class=""><a href="#/profile">Profile</a></li>
                <li class=""><a href="#/profile/password">Password</a></li>
                <li class=""><a href="#/" ng-click="logout()">Logout</a></li>
            </ul>

            <form class="navbar-form navbar-right" id="search-form" role="search">
                <div class="input-group">
                    <input type="text" id="search-input" ng-model="searchTerm" ng-change="searchUser();" ng-blur="clearSearchResults()" class="form-control" placeholder="Search by name...">
                </div>

                <div id="search-results" ng-if="searchResults" class="list-group">
                    <div ng-repeat="user in searchResults" class="list-group-item">
                        <a href="#/user/{{user.username}}/wall/">
                            <img ng-src="{{user.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 50px; height: 50px"/>
                            <span class="name">{{user.name}}</span>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
